{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1% in JP"
          ]
        },
        "modules": false,
        "loose": false
      }
    ]
  ]
}
